h1{
	/*color:#FFFFFF;*/
	font-family: "Sail", cursive;
	font-size:120px;
	text-shadow: 1px 1px 1px #ccc;}

p{
	font-family: "Dosis", sans-serif;
}

.alert{
	background-color:#FFFFFF;
}
body{
	background:url(../img/bokehbackground.jpg) repeat 0 0;
	background-size: 100%;
}

.container-narrow{
	background-color:#FFFFFF;
}

.jumbotron{
	background-color:#FFD1DE;
}

.lead{
	font-size: 15px;
}

.panel-one{
	background:url(../img/binding_dark.png);
	padding:30px;
	color:#FFFFFF;
	font-size:30px;
}

h1.panel-two{
	color:#000000;
}
.panel-two{
	background-color:#FFEBF0;
	padding:30px;
	color:#000000;
	text-align: right;
	font-size:30px;
}