h1{
	/*color:#FFFFFF;*/
	font-family: "Sail", cursive;
	font-size:90px;
	text-shadow: 1px 1px 1px #ccc;}

p{
	font-family: "Dosis", sans-serif;
}


.alert{
	background-color:#FFFFFF;
}
body{
	background:url(../img/bokehbackground.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.container-narrow{
	background-color:#FFFFFF;
}

.jumbotron{
	background-color:#FFD1DE;
}

.lead{
	font-size: 15px;
}

.panel-two{
	background:url(../img/binding_dark.png) repeat 0 0;
	padding:30px;
	color:#FFFFFF;
	font-size:30px;
	max-width: 700px;
	margin:0 auto;
}


.panel-one{
	/*background-color:#FFEBF0;*/
	background:url(../img/binding_dark.png) repeat 0 0;
	padding:30px;
	color:#FFFFFF;
	text-align: right;
	font-size:30px;
	max-width: 700px;
	position:center;
	margin:0 auto;
}

    