---
---

<!DOCTYPE html>
<html>

{% include head.html %}
  <body>
    <div class="landing-page">



      <div class="wrapper">

              <div class="homepage-title">
               <h1>Catherine Moresco </h1>
              </div>

              <div class="homepage-links">
                {% for page in site.pages %}
                  {% if page.title %}
                  <div class="homepage-link">
                    <a class="page-link homepage" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | downcase}}</a>
                  </div>
                  {% endif %}
               {% endfor %}

              </div>

      </div>

        <div class="homepage-background"><div class="background-shading"></div></div>


    </div>
    <div class="home-footer-container">
      {%include footer.html%}
    </div>
  </body>

</html>
